<footer id="vpdweb-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="vpdweb-footer-widget">
                    <p>Follow us</p>
                    <ul class="vpdweb-social">
                        <li><a href="http://twitter.com/vpdweb" target="_blank"><i class="icon-twitter"></i></a></li>
                        <li><a href="http://www.facebook.com/vpdweb" target="_blank"><i class="icon-facebook"></i></a></li>
                        <li><a href="http://www.instagram.com/vpdweb/" target="_blank"><i class="icon-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="vpdweb-copyright ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                  <p class="vpdweb-left"><small>&copy; 2017-{{ site.time | date:
                    '%Y' }} <a href="/">{{ site.title }}&nbsp;&nbsp; </a></small></p>
                    <p class="vpdweb-right"><small
                      class="vpdweb-right">Designed by <a
                        href="https://vpdwebdesign.github.io" target="_blank">{{ site.title }}</a></small></p>
                </div>
            </div>
        </div>
    </div>
</footer>
