<div class="row">
        {% assign sorted_members = site.team | sort: "rank" %}
            {% for member in sorted_members %}
    <div class="col-md-4">
        <div class="vpdweb-teammember">
            <figure><img src="{{ member.image_path }}" alt="{{ member.name }}"></figure>
            <div class="vpdweb-name">{{ member.name }}</div>
            <div class="vpdweb-designation">{{ member.role }}</div>
            <div class="vpdweb-email">{{ member.email }}</div>
            <div class="vpdweb-bio">{{ member.content }}</div>
        </div>
    </div>
            {% endfor %}
</div>
